<div class="page-container">
  <!-- HEADER -->
  <div class="page-header">
    <div class="header-left">
      <button type="button" class="btn-back" (click)="cancel()">
        <i class="bi bi-arrow-left"></i>
      </button>
      <div>
        <h1>
          @if (mode() === 'create') {
            Tambah Karyawan
          } @else {
            Edit Karyawan
          }
        </h1>
        <p>
          @if (mode() === 'create') {
            Tambahkan data karyawan baru
          } @else {
            Ubah informasi data karyawan
          }
        </p>
      </div>
    </div>
  </div>
  <!-- REUSABLE FORM -->
  <app-employee-form
    [employee]="employee()"
    [mode]="mode()"
    [isSaving]="isSaving()"
    (submitted)="save($event)"
    (cancelled)="cancel()"
  />
  @if (showSuccessModal()) {
    <div class="modal-overlay">
      <div class="modal">
        <div class="modal-icon">
          <i class="bi bi-check-lg"></i>
        </div>
        <h2>Berhasil!</h2>
        <p>
          {{ successMessage() }}
        </p>
        <button type="btn" class="btn-success" (click)="closeSuccessModal()">OK</button>
      </div>
    </div>
  }
</div>
