<div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login-form">
        <div style="margin-bottom: 10px;">
            <label>Nama:</label>
            <input formControlName="username" type="text" placeholder="input admin">
        </div>

        <div>
            <label>Password:</label>
            <input formControlName="password" type="password" placeholder="input admin123">
        </div>

    @if (errorMessage) {
        <span class="error-message">{{ errorMessage }}</span>
    }
    <div class="btn-container">
        <button type="submit" >Login</button>
    </div>
    </form>
</div>

